{% extends "base.html" %}
{% block content %}
<h1>Home Page</h1>
<section class="showcase">
    <div class="container-fluid">
        <p>
            Welcome to our Task Manager, designed to streamline your project management and enhance team collaboration. <br>
            Whether you're a Developer, Designer, Project Manager, or QA Specialist, our tool helps you stay organized and efficient. <br> 
            Create, assign, and track tasks effortlessly to ensure timely completion before deadlines. <br>
        </p>
    </div>
</section>


{% endblock %}